@CHARSET "ISO-8859-1";

body
{
	background: #000 url("../images/background.png") repeat-x;
	color: #ccc;
}

p
{
	font-family: Tahoma, Arial, Sans-serif;
}

#content
{
	margin-top: 100px;
	display: block;
}

#profile_info
{
	float: left;
	text-align: right;
}

#profile_info #name
{
	font-size: 14pt;
}

#profile_info #info
{
	font-size: 12pt;
}

#avatar
{
	float: left;
}

#line
{
	float: left;
}

#nagivation_zone
{
	display: block;
	margin: 43px 10px 10px;
}

div.navigator
{
	float: left;
}

div.name p
{
	text-align: center;
}