@CHARSET "ISO-8859-1";

body
{
	background: #000 url("../images/background.png") repeat-x;
	color: #ccc;
}

p
{
	font-family: Tahoma, Arial, Sans-serif;
}

#content
{
	margin: 250px auto 0px;
	width: 1000px;
	display: block;
}

#profile_info
{
	display: inline-block;
	text-align: right;
}

#profile_info #name
{
	font-size: 14pt;
}

#profile_info #info
{
	font-size: 12pt;
}

#avatar
{
	display: inline-block;
}

#line
{
	display: inline-block;
}

#nagivation_zone
{
	display: inline-block;
}

div.navigator
{
	float: left;
}

div.name p
{
	text-align: center;
}